a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
margin:0;
padding:0;
border:0;
font:inherit;
vertical-align:baseline;
}
body {
    text-align: center; 
    line-height:1;
}
#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, (20% repeat(3, minmax(250px, 1fr)) 20%)) ;
    grid-template-rows: 100px repeat(5, minmax(300px, auto)) ;
    grid-gap: 15px 15px;
}

@font-face {
font-family:Montserrat;
src:url(../fonts/montserrat-regular-webfont.eot);
src:url(../fonts/montserrat-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/montserrat-regular-webfont.woff2) format("woff2"),url(../fonts/montserrat-regular-webfont.woff) format("woff");
font-weight:400;
font-style:normal;
}
@font-face {
font-family:Montserrat;
src:url(../fonts/montserrat-bold-webfont.eot);
src:url(../fonts/montserrat-bold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/montserrat-bold-webfont.woff2) format("woff2"),url(../fonts/montserrat-bold-webfont.woff) format("woff");
font-weight:700;
font-style:normal;
}
@font-face {
font-family:'Roboto Light';
src:url(../fonts/roboto-light-webfont.eot);
src:url(../fonts/roboto-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/roboto-light-webfont.woff2) format("woff2"),url(../fonts/roboto-light-webfont.woff) format("woff");
font-weight:400;
font-style:normal;
}

.header_wrapper {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
padding:20px 0;
background-color:#d0d0d0;
}
.header .header_title {
font-family: "Montserrat",sans-serif;
font-size:30px;
color:#050505;
line-height:30px;
}
.header .header_text {
font-family:"Roboto Light",sans-serif;
font-size:20px;
color:#050505;
}
.article_box   { 
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5; 
}
.article_box_inner {
position:relative;
height:100%;
width:100%;
background-position:center;
background-repeat:no-repeat;
background-size:100% auto;
border: 1px solid #c4c4c4;
border-radius:5px;
}
/*
.article_box_inner_overlay {
display:none;
text-decoration:none;
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background-color: rgba(0,0,0,.5)
}
*/
.article_box_inner_popup {
box-sizing:border-box;
padding:5px;
position:absolute;
top:50%;
left:0;
text-align:center;
width:100%;
-ms-transform:translateY(-50%);
transform:translateY(-50%);
color:#bcbaba
}
.article_title {
font-size:16px;
font-family:"Roboto Light",sans-serif
}
.article_subtext,.article_text {
font-family:"Roboto Light",sans-serif;
font-size:14px
}
.article_text {
margin:5px 0
}

.number_4 { 
    grid-column: 2;
    grid-row: 2;
}
.number_3   { 
    grid-column: 3;
    grid-row: 2;    
}

.number_2  { 
    grid-column: 4;
    grid-row: 2;    
}

.number_1  { 
    grid-column: 2;
    grid-row: 3;    
}
.iop{
    display: inline-block;
    grid-column: 3;
    grid-row: 3;
    background-color: rgba(39, 39, 168, 0.37);
    border: 5px solid;
    border-color: aqua;
}
.yyy {
    width: 100%;
    background-color: green;
}
