*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #f9f9f9;	
	/*background-color: black;*/
}
.main {
	margin: 50px 10%;	
	background-image:  url("../img/4.jpg") ;
	background-repeat: no-repeat;
	background-position:top center;
	height: 882;
	width: 958;
	/*border: 1px solid #020202;*/
	/*padding: 20% 10% 20% 10%;*/	
}
.header {
	float: left; /* Обтекание по правому краю */
	padding-top: 57px;
	padding-left: 70px;
}
.contacts {
	padding-top: 153px;
	padding-left: 783px;
}
	.catalog 
	{
	    width: 100%;
	}
	.catalog li {
	    display: inline-block;
	    	    width: 45%;
	    margin: 1% 10px 15px 1%;
	    vertical-align: top;
	    text-align: left;
	    // display: inline; /* для IE6-7 */
	}
	.catalog img {
	    display: block;
	    margin-bottom:5px;
	}